<!-- Topbar Start -->
<!-- <div class="container-fluid">
    <div class="row bg-secondary py-1 px-xl-5">
        <div class="col-lg-6 d-none d-lg-block">
            <div class="d-inline-flex align-items-center h-100">
                <a class="text-body mr-3" href="">About</a>
                <a class="text-body mr-3" href="">Contact</a>
                <a class="text-body mr-3" href="">Help</a>
                <a class="text-body mr-3" href="">FAQs</a>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">My
                        Account</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button">Sign in</button>
                        <button class="dropdown-item" type="button">Sign up</button>
                    </div>
                </div>
                <div class="btn-group mx-2">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                        data-toggle="dropdown">USD</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button">EUR</button>
                        <button class="dropdown-item" type="button">GBP</button>
                        <button class="dropdown-item" type="button">CAD</button>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                        data-toggle="dropdown">EN</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button">FR</button>
                        <button class="dropdown-item" type="button">AR</button>
                        <button class="dropdown-item" type="button">RU</button>
                    </div>
                </div>
            </div>
            <div class="d-inline-flex align-items-center d-block d-lg-none">
                <a href="" class="btn px-0 ml-2">
                    <i class="fas fa-heart text-dark"></i>
                    <span class="badge text-dark border border-dark rounded-circle"
                        style="padding-bottom: 2px;">0</span>
                </a>
                <a href="" class="btn px-0 ml-2">
                    <i class="fas fa-shopping-cart text-dark"></i>
                    <span class="badge text-dark border border-dark rounded-circle"
                        style="padding-bottom: 2px;">0</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
        <div class="col-lg-4">
            <a href="" class="text-decoration-none">
                <span class="h1 text-uppercase text-primary bg-dark px-2">عسل</span>
                <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">اليمن </span>
                <span class="h1 text-uppercase text-primary bg-dark px-2 ml-n1"> السعيد</span>
            </a>
        </div>
        <div class="col-lg-4 col-6 text-left">
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for products">
                    <div class="input-group-append">
                        <span class="input-group-text bg-transparent text-primary">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-6 text-right">
            <p class="m-0">حميد </p>
            <h5 class="m-0">00967777671739</h5>
        </div>
    </div>
</div> -->

<!-- Topbar End -->

<!-- <div class="container-fluid bg-light px-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="row gx-0 align-items-center d-none d-lg-flex">
        <div class="col-lg-6 px-5 text-start">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="small text-secondary" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="small text-secondary" href="#">Career</a></li>
                <li class="breadcrumb-item"><a class="small text-secondary" href="#">Terms</a></li>
                <li class="breadcrumb-item"><a class="small text-secondary" href="#">Privacy</a></li>
            </ol>
        </div>
        <div class="col-lg-6 px-5 text-end">
            <small>Follow us:</small>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn-square text-primary border-end rounded-0" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn-square text-primary border-end rounded-0" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn-square text-primary border-end rounded-0" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="btn-square text-primary pe-0" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div> -->

{% load static %}
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.min.js"></script> -->
<!-- <div class="col-lg-4 col-md-12 text-center text-lg-start">
            <a href="" class="navbar-brand m-0 p-0">
                <img class="position-absolute img-fluid" src="{% static 'img/footer/log1.jpg' %}" alt="شعار الموقع">
            </a>
        </div> -->
<div>
    <div class="col-lg-8 col-md-7 d-flex justify-content-end">

        <div class="d-flex align-items-center">
            <div class="btn-group me-3">
                <a href="https://api.whatsapp.com/send?phone=966542935906" class="btn btn-lg btn-success text-center">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="https://api.whatsapp.com/send?phone=966542935906" class="btn btn-sm btn-success d-lg-none">
                    رسلنا واتس
                </a>
            </div>
            <div class="btn-group me-3">
                <a href="tel:+966542935906" class="btn btn-lg btn-primary text-center">
                    <i class="fa fa-phone"></i>
                </a>
                <a href="tel:+966542935906" class="btn btn-sm btn-primary d-lg-none">
                    اتصل بنا
                </a>
            </div>
            <div class="btn-group">
                <a href="mailto:عنوان البريد الإلكتروني الخاص بك" class="btn btn-lg btn-primary text-center">
                    <i class="fa fa-envelope"></i>
                </a>
                <a href="mailto:عنوان البريد الإلكتروني الخاص بك" class="btn btn-sm btn-primary d-lg-none">
                    الايميل
                </a>
            </div>

        </div>
    </div>
</div>
</div>
<!-- <div class="container-fluid py-4 px-5 wow fadeIn" data-wow-delay="0.1s">

    <div class="row align-items-center top-bar">
        <div class="col-lg-4 col-md-12 text-center text-lg-start">
            <a href="" class="navbar-brand m-0 p-0">
                <h1 class="fw-bold text-primary m-0"><i class="fa fa-laptop-code me-3"></i>DGcom</h1>

            </a>
        </div>
        <div class="col-lg-8 col-md-7 d-none d-lg-block">
            <div class="row">
                <div class="col-4">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="flex-shrink-0 btn-lg-square border rounded-circle">
                            <a href="https://api.whatsapp.com/send?phone=966542935906">
                                <i class="fab fa-whatsapp text-success"></i>
                            </a>
                        </div>
                        <a href="https://api.whatsapp.com/send?phone=966542935906">رسلنا واتس</a>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="flex-shrink-0 btn-lg-square border rounded-circle">
                            <a href="tel:+966542935906"><i class="fa fa-phone text-primary"></i></a>
                        </div>
                        <a href="tel:+966542935906">اتصل بنا </i></a>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="flex-shrink-0 btn-lg-square border rounded-circle">
                            <a href="#" class="__cf_email__" data-cfemail="127b7c747d52776a737f627e773c717d7f"><i class="far fa-envelope text-primary"></i></a>
                        </div>
                        <a href="#" class="__cf_email__" data-cfemail="127b7c747d52776a737f627e773c717d7f">الايميل</a>
                    </div>
                </div>
        </div>
    </div>
</div>
</div> -->